
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .h3{
    font-weight: bolder;
    font-size: 40px;
    width: 800px;
    padding-right: 100px;
    margin-left: -180px;
  }

  .form-signin .labels{
    margin-top: 70px;
  }

  .btn{
    color: rgb(255, 255, 255);
    background-color: rgb(4, 71, 4);
    border-color: rgb(6, 58, 2);
  }

  .btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 53, 3);
    border-color: rgb(6, 58, 2);
  }

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;

}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 10px;
}
